@media (min-width: 740px) and (max-width:1025px)
{
    .header__logo-img
    {
        max-width: 150px
    }
    .header__nav
    {
        margin:0;
    }
    .header__btn{
        margin: 0 20px 0;
    }
    .header__nav>li>a
    {
        font-size: 15px;
        padding: 10px 10px;
    }
    .introduce-title
    {
        text-align: center;
    }
    .video__category-place-display
    {
        width: 560px;
        height: 315px;
    }
    .swiper
    {
        width:150px;
        height: 400px;
    }
    .video__category
    {
        max-width: 750px;
    }
    .ticket__text h1
    {
        font-size: 30px;
        margin-bottom:10px
    }
    .ticket__text p
    {
        font-size: 20px
    }
    .ticket__btn
    {
        padding: 10px 20px;
        font-size:20px;
    }

    .btn--green,.btn--white
    {
        padding: 10px 15px;
        font-size: 15px;
    }
    .video__category-place
    {
        padding: 5px 5px;
    }
    .video__category
    {
        margin-top: 0px;
    }
    .image-animal
    {
        padding-top:20px;
    }
}
/* PC low */
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px)
{
    .video__category-place-display
    {
        width: 800px;
        height: 450px;
    }
    .swiper
    {
        width:200px;
    }
}