{%extends "donate/header.html"%}
{%load static%}

{%block content%}
<div class="slider">
  <div class="slider-img"></div>
  <div class="slider-text">
    HÃY CHUNG TAY
    <br>BẢO VỆ
  </div>
</div>
<div class="content">
  <div class="donate__wrap">
    <div class="grid wide">
      <div class="row ">
        <div class="col l-7 m-12 c-12">
          <h2 class="donate-heading">
            Đóng góp của bạn, nghĩa vụ của chúng tôi
          </h2>
          <script src="https://js.stripe.com/v3/"></script>
          <div class="">
            <form action="{% url 'charge' %}" method="post" id="payment-form">
              {% csrf_token %}

              <div class="form-field-12">
                <label for="amount">
                  <h2 class="title-content">Chọn khoản tiền bạn muốn hỗ trợ:</h2>
                </label>
                <div class="donate__price-list">
                  <!-- <h2>Chọn số tiền tài trợ</h2> -->
                  <div class="grid">
                    <div class="row">
                      <div class="col c-4">
                        <div class="donate__price-item">$10</div>
                      </div>
                      <div class="col c-4">
                        <div class="donate__price-item">$50</div>
                      </div>
                      <div class="col c-4">
                        <div class="donate__price-item">$100</div>
                      </div>
                      <div class="col c-4">
                        <div class="donate__price-item">$200</div>
                      </div>
                      <div class="col c-4">
                        <div class="donate__price-item">$500</div>
                      </div>
                      <div class="col c-4">
                        <div class="donate__price-item">$1000</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="donate__input-wrap">
                  <h2 class="donate__input-heading title-content">Số tiền tài trợ</h2>
                  <div class="donate__input">
                    <input required name="amount" id="amount" class="donate__input-fill" type="number"
                      placeholder="Nhập số tiền">
                  </div>
                </div>
              </div>
              <label class="title-content" class="label">Điền thông tin: </label>
              <div class="donate__fill">
                <input required type="text" name="email" placeholder="Nhập Email">
              </div>
              <div class="form-row">
                <label for="card-element">
                  <h2 class="title-content">Nhập thẻ tín dụng hoặc thẻ ghi nợ:</h2>
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <div style="clear:left"></div>
              <hr>
              <div class="donate__btn-wrap">
                <input class="donate__btn" type="submit" value="Hỗ trợ" name="">
              </div>

            </form>
          </div>
        </div>
        <div class="col l-5 m-12 c-12">
          <div class="donate__img"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="donate__top">
    <div class="grid">
      <h3 class="donate__top-heading">Danh sách đóng góp trong tháng</h3>
          <table class="donate__top-table">
            <tr>
              <th>ID</th>
              <th>Thời gian</th>
              <th>Tài khoản</th>
              <th>Số tiền</th>
            </tr>
              {%for donation in Donations%}
            <tr>
              <td>{{donation.donation_ID}}</td>
              <td>{{donation.date_donated}}</td>
              <td>{{donation.user_ID}}</td>
              <td>{{donation.amount}}</td>
            </tr>
              {%endfor%}

        </table>
  </div>
</div>
</div>

<script>
  // Create a Stripe client.
  var stripe = Stripe('pk_test_51Jtlh9EiJAngkF1RtoIaT1pVGFioMwAj0LOMGcLGPkPrfUcmVMpCwnBTM8oQRUzAXjk5MsYGTjQC8vTR3b0ESvm700Vmg3OT0w');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '20px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', { style: style });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function (event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>

{%endblock%}