{% extends 'donate/header.html' %}
{% load static %}
{% block content %}
	<div id="box" >
		<div class="success">
			<i class="success-icon fas fa-check"></i>
			<h4 class="success-title">Cám ơn vì đã quyên góp ${{amount}} cho sở thú!</h4>
			<p class="success-content">Thay mặt Ban giám đốc và toàn thể CBCNV Zoozalabim, tôi chân thành cám ơn sự đóng góp quý báu của bạn - Đã góp phần vào việc duy trì và phát triển Zoozalabim!</p>
			<a class="success-btn-back myButton" href="{% url 'index' %}">Trở về trang hỗ trợ</a>
		</div>
	</div>

{% endblock content %}