{%extends "home/base.html"%}
{%load static%}
{%block header%}
        <div class="header">
            <div class="header__wrap">
                <a href="/" class="header__logo-link">
                    <img src="{% static './image/image-homepage/ZOOZALABIM-07.png' %}" alt="" class="header__logo-img" />
                </a>
                <ul class="header__nav hide-on-mobile">
                    <li class="header__nav-introduce">
                        <a href="/">Trang chủ</a>
                    </li>
                    <li class=""><a href="/animals/">Phân loài</a></li>
                    <li class=""><a href="/news/">Tin tức</a></li>
                    <li class=""><a href="/donate/">Hỗ trợ</a></li>
                    <li class=""><a href="/ticket/">Mua vé</a></li>
                </ul>
                {% if not user.username %}
                <div class="header__btn hide-on-mobile">
                    <a href="/login/" class="header__btn-login btn__open-login-form btn--white">
                        ĐĂNG NHẬP
                    </a>
                    <a href="/register/" class="header__btn-register btn__open-register-form btn--green">
                        ĐĂNG KÝ
                    </a>
                </div>
                {% else %}
                <div class="header__user hide-on-mobile">
                    {%if Profile.img%}
                    <img class="header__user-img" src="{{Profile.img.url}}" alt="" />
                    {%else%}
                    <img class="header__user-img" src="{% static './image/image-homepage/meo.jpeg' %}" alt="" />
                    {%endif%}
                    <div class="header__nav">Xin chào, {{user.username}}</div>
                    <ul class="header__user-subnav">
                        <li>
                            <a href="/user/" class="header__user-subnav-info">Thông tin tài khoản</a>
                        </li>
                        <li><a href="/logout/">Đăng xuất</a></li>
                    </ul>
                </div>
                {%endif%}
                <!--NAV MOBILE -->
                <label for="nav-mobile-input" class="header__nav-mobile-menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <input type="checkbox" hidden class="nav__bars-check"id="nav-mobile-input">
                <div class="header__nav-mobile-overlay"></div>
                <div class="header__nav-mobile">
                    <label  for="nav-mobile-input"class="header__nav-mobile-close-btn">
                        <i class="fas fa-times"></i>
                    </label>
                    <div class="header__nav-mobile-user">
                        {% if not user.username %}
                        <ul class="header__nav-mobile-user-control">
                            <li><i class="fas fa-sign-in-alt"></i><a href="/login/">Đăng nhập</a></li>
                            <li><i class="fas fa-user-edit"></i><a href="/register/">Đăng kí</a></li>
                        </ul>

                        {% else %}
                        <div class="header__nav-mobile-user-info">
                            <div class="header__nav-mobile-user-image">
                                <img class="" src="{%static './image/image-homepage/meo.jpeg' %}" alt="">
                            </div>
                            <p class="header__nav-mobile-user-name">Xin chào, <span>{{user.username}}</span> !</p>
                        </div>
                        {%endif%}
                    </div>
                    <ul class="header__nav-mobile-btn-page">
                        <!-- NẾU ĐÃ LOGIN -->
                        {% if user.username %}
                        <li><i class="fas fa-user-alt"></i><a href="">Thông tin tài khoản</a></li>
                        {%endif%}
                        <li><i class="fas fa-home"></i><a href="">Trang chủ</a></li>
                        <li><i class="fas fa-paw"></i><a href="/animals/">Phân loài</a></li>
                        <li><i class="fas fa-newspaper"></i><a href="/news/">Tin tức</a></li>
                        <li><i class="fas fa-donate"></i><a href="/donate/">Hỗ trợ</a></li>
                        <li><i class="fas fa-ticket-alt"></i><a href="/ticket/">Mua vé</a></li>
                    </ul>
                    {% if user.username %}
                    <div class="header__nav-mobile-btn-logout">
                        <i class="header__nav-mobile-btn-logout-icon fas fa-sign-out-alt"></i>
                        <a href="/logout/">Đăng xuất</a>
                    </div>
                    {%endif%}
                </div>
                <!-- END NAV MOBILE -->
            </div>
        </div>
{%endblock%}

        {%block content%} {%endblock%}

{%block footer%}
        <div class="footer">
            <div class="grid">
                <div class="row footer__list">
                    <div class="col l-2-4 m-4 c-6">
                        <div class="footer__item">
                            <div class="footer__item-heading">Giờ hoạt động</div>
                            <div class="footer__item-desc">9:00AM - 7:00PM</div>
                        </div>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <div class="footer__item">
                            <div class="footer__item-heading">Tài khoản</div>
                            <div class="footer__item-desc">
                                <a href="">Thông tin</a>
                                <a href="">Quyên góp</a>
                                <a href="">Mua vé</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <div class="footer__item">
                            <div class="footer__item-heading">Động vật</div>
                            <div class="footer__item-desc">
                                <a href="#image">Hình ảnh</a>
                                <a href="#video">Video</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <div class="footer__item">
                            <div class="footer__item-heading">Liên hệ</div>
                            <div class="footer__item-desc">
                                <p>Email: zoozalabim123@gmail.com</p>
                                <p>Sđt: 000000000</p>
                                <p>Địa chỉ: Ktx khu B</p>
                            </div>
                        </div>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <div class="footer__item">
                            <div class="footer__item-heading">Theo dõi</div>
                            <div class="footer__item-icon">
                                <a href=""><i class="fab fa-facebook"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCYuKdJxV9HXNklgU5OX0rBw"><i
                                        class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static './image/image-homepage/ZOOZALABIM-07.png' %}" alt="" class="footer__logo" />
            <div class="footer__copyright">
                © 2021 All Rights Reserved Terms of Use and Privacy Policy
            </div>
        </div>
{%endblock%}