{%extends "home/header.html"%}
{%load static%}
{%block title%} Zoozalabim {%endblock%}

        {%block content%}
        <!-- Slider -->
        <div class="slider">
            <div class="slides">
                 <!-- Radio button  -->
                <input type="radio" name="radio-btn" id="radio1" checked>
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">

                <!-- img -->
                <div class="slide slide-first">
                    <div class="slide-item slide__img-first">
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-item slide__img-second">             
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-item slide__img-third">      
                    </div>
                </div>  
                 <!-- automatic navigation -->
                <div class="navigation-auto">
                    <div class="auto-btn auto-btn1"></div>
                    <div class="auto-btn auto-btn2"></div>
                    <div class="auto-btn auto-btn3"></div>
                </div>         
            </div>
            <!-- Manual navigation -->
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>        
            </div>
           <div class="slider__content ">
               <h3 class="slider__content-title">
                    HÒA MÌNH VỚI THIÊN NHIÊN
               </h3>
               <div class="slider__content-desc hide-on-mobile">
                Khi con người ta đã quá quen thuộc với bộn bề cao ốc, khói bụi xe cộ... thì trong sâu thẳm trong thâm tâm đều mong muốn được về với thiên nhiên. Hãy cùng nhau giúp đỡ muôn loài, góp phần bảo vệ thiên nhiên tươi đẹp.
               </div>
               <div class="slider__content-btn hide-on-mobile">
                   <a href="/donate"><button class="slider__btn-donate btn__open-register-form btn--green">HỖ TRỢ</button></a>
                   <a href="/ticket"><button class="slider__btn-buy-ticket btn__open-login-form btn--white">MUA VÉ</button></a>
               </div>
           </div>
        </div>
        <!-- Content -->
        <div class="content">
            <!-- Thông tin -->
            <div id="introduce" class="grid info" style="overflow:hidden">
                <div class="row">
                    <div class="col l-3 m-6 c-6 info__item">
                        <div class="info__item-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="info__item-content">
                            <p class="info__item-content-title">Giờ hoạt động</p>
                            <p class="info__item-content-desc">09:00AM - 07:00AM</p>
                        </div>                    
                    </div>
                    <div class="col l-3 m-6 c-6 info__item">
                        <div class="info__item-icon">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="info__item-content">
                            <p class="info__item-content-title">Bản đồ sở thú</p>
                            <p class="info__item-content-desc">Diện tích: 10000ha</p>
                        </div>
                    </div>
                    <div class="col l-3 m-6 c-6 info__item">
                        <div class="info__item-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="info__item-content">
                            <p class="info__item-content-title">Vị trí</p>
                            <p class="info__item-content-desc">Quận Thủ Đức, TPHCM</p>
                        </div>
                    </div>
                    <div class="col l-3 m-6 c-6 info__item">
                        <div class="info__item-icon">
                            <i class="fas fa-ticket-alt"></i>
                        </div>
                        <div class="info__item-content">
                            <p class="info__item-content-title">Giá vé</p>
                            <p class="info__item-content-desc">Người lớn: 70000 VND
                                <br>
                                Trẻ em: 50000 VND 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Giới thiệu -->
            <div class="content__introduce content-section">
                <div class="grid wide">
                    <div class="row introduce">
                        <div class="col l-6 c-12 introduce__img">
                            <img src="{% static './image/image-homepage/introduce.jpeg'%}"></img>
                        </div>
                        <div class="col l-6 c-12 ">
                            <div class="introduce__content">
                                <div class="introduce-title">
                                    <h2 class="section-heading--yellow">
                                        GIỚI THIỆU
                                    </h2>
                                </div>
                                <div class="section-desc">
                                    Sở thú Zoozalabim là một trong những công trình mang tính lịch sử và lâu đời nhất TP HCM. Được xây dựng cùng lúc với Bưu điện TP HCM, Nhà thờ Đức Bà và chợ Bến Thành, Zoozalabim được xem như một chứng nhân của lịch sử, đi qua những thăng trầm của con người và vùng đất này.
                                    <br>
                                    Đến nay, Zoozalabim có tuổi đời 156 năm, hiện đang chăm sóc hơn 1.500 cá thể động vật và 900 loài thực vật.
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bán vé -->
            <div class="content__ticket ">
                <div class="ticket">
                    <img class="ticket__img" src="{% static './image/image-homepage/bird-ticket-notext.png'%}" alt="">
                    <div class="ticket__group">
                        <div class="ticket__text">
                            <p>WELCOME TO</p>
                            <h1>ZOOZALABIM</h1>
                        </div>
                        <a href="ticket/" class="ticket__btn">MUA VÉ NGAY</a>
                    </div>
                </div>
            </div>
            <!-- Donate -->
            <div id="donate" class="donate content__donate content-section">
               <div class="grid wide">
                <div class="row">
                    <div class="col l-6 c-12 m-12">
                        <div class="donate__wrap">
                            <h2 class="section-heading--yellow">LỜI KÊU GỌI</h2>
                            <div class="section-desc">
                                Mỗi khi bạn tham gia đóng góp cho Quỹ tài trợ của chúng tôi, trở thành đối tác bảo tồn, để lại một món quà trong di sản của bạn hoặc gây quỹ với cộng đồng của bạn, mọi thứ đều hữu ích. Những số tiền mà bạn quyên góp sẽ góp phần xây dưng nơi ở, thức ăn cho vật nuôi tại sở thú Zoozalabim
                            </div>
                            <a href="/donate/" class="donate__btn">Hỗ trợ</a>
                        </div>
                    </div>
                    <div class="col l-6 c-12 m-12">
                        <img class="donate__img" src="{% static './image/image-homepage/pexels-photo-1870301.jpeg'%}"></img>
                    </div>
                </div>
               </div>
            </div>
            <!-- Hình ảnh và video -->
            <div id="animal" class="content__animal content-section">
                <!-- Video thú -->
                <div id="video" class="video-animal hide-on-mobile">
                    <div class="grid">
                         <h2 class="section-heading--green">VIDEO</h2>
                         <div class="video__category">
                             <div class="video__category-place">
                                 <iframe class="video__category-place-display" src="https://www.youtube.com/embed/kFNJTAaAYnU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                             </div>
                             <div class="video__category-option-list">
                                 <div class="swiper mySwiper">
                                     <div class="swiper-wrapper">
 
                                     </div>
                                     <div class="swiper-pagination"></div>
                                     <div class="swiper-button-next"></div>
                                     <div class="swiper-button-prev"></div>
                                 </div>
                             </div>
                         </div>    
                    </div>
                 </div>
                <!-- Hình ảnh thú  -->
                <div id="image" class="image-animal">
                    <div class="image-animal__heading">
                        <h2 class="section-heading--green">HÌNH ẢNH</h2>
                    </div>
                    <div class="grid wide">
                        <div class="row image-animal__list">
                            {% for item in Animals %}
                                {% if item %}
                                   <div class="col l-3 c-6 m-6 ">
                                <a href="/animals/" class="image-animal__item">
                                    <div class="image-animal__item-img" style="background-image: url('{{item.img.url}}')">
                                        <!-- <img src="{{item.img.url}}" alt=""> -->
                                    </div>
                                    <div class="image-animal__item-name">{{item.animal_name}}</div>
                                    <div class="image-animal__item-desc">{{item.description}}</div>
                                </a>
                            </div>
                                {% endif %}
                            {% endfor %}

<!--                            <div class="col l-3 m-6">-->
<!--                                <a href="" class="image-animal__item">-->
<!--                                    <div class="image-animal__item-img">-->
<!--                                        <img src="{% static './image/image-homepage/rabbit.jpeg'%}" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="image-animal__item-name">Thỏ</div>-->
<!--                                    <div class="image-animal__item-desc">Thỏ là động vật có vú nhỏ được xếp vào  bộ Langomorpha</div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="col l-3 m-6">-->
<!--                                <a href="" class="image-animal__item">-->
<!--                                    <div class="image-animal__item-img">-->
<!--                                        <img src="{% static './image/image-homepage/rabbit.jpeg'%}" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="image-animal__item-name">Thỏ</div>-->
<!--                                    <div class="image-animal__item-desc">Thỏ là động vật có vú nhỏ được xếp vào  bộ Langomorpha </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="col l-3 m-6">-->
<!--                                <a href="" class="image-animal__item">-->
<!--                                    <div class="image-animal__item-img">-->
<!--                                        <img src="{% static './image/image-homepage/rabbit.jpeg'%}" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="image-animal__item-name">Thỏ</div>-->
<!--                                    <div class="image-animal__item-desc">Thỏ là động vật có vú nhỏ được xếp vào  bộ Langomorpha</div>-->
<!--                                </a>-->
<!--                            </div>-->
                            <a  href="animals/" class="image-animal__more-text">
                                Xem thêm...
                            </a>
                        </div>
                    </div>
                </div>     
            </div>
            
            <!-- Tin tức -->
            <div  id="news"  class="content__news content-section">
                <div class="news">
                    <div class="news__heading">
                        <div class="news-title">
                            <h2 class="section-heading--yellow">
                                TIN TỨC MỚI NHẤT
                            </h2>
                        </div>
                        <!-- <div class="section-desc">
                            Khi con người ta đã quá quen thuộc với bộn bề cao ốc, khói bụi xe cộ... thì trong sâu thẳm trong thâm tâm đều mong muốn được về với thiên nhiên. Hãy cùng nhau giúp đỡ muôn loài, góp phần bảo vệ thiên nhiên tươi đẹp
                        </div>   -->
                    </div>


                    <div class="grid wide">
                        <div class="row news__list">

                            {%for item in Event%}
                            <div class="col l-3 c-6 m-6">
                                <div class="news__item">
                                    <div class="news__item-img" style="background-image: url('{{item.img.url}}')">
                                        <!-- <img src="{{item.img.url}}" alt=""> -->
                                    </div>
                                    <div class="news__item-content">
                                        <div class="news__item-content-title">{{item.title}}</div>
                                        <div class="news__item-content-date">{{item.date_uploaded}}</div>
                                        <div class="news__item-content-desc">{{item.description}}</div>
                                    </div>
                                    <a href="/news/" class="news__item-see-more">
                                        Xem thêm...
                                    </a>
                                </div>
                            </div>
                            {%endfor%}

                        </div>
                        
                        
                    </div>               
                </div>
            </div>
            
            <!-- Liên hệ -->
            <div id="contact" class="content__contact content-section">
                <div class="contact">
                    <div class="grid wide">
                        <div class="row">
                            <div class="col l-6 c-12 m-12">
                                <div class="contact__content">
                                    <div class="contact-title">
                                        <h2 class="section-heading--green">
                                            LIÊN HỆ VỚI CHÚNG TÔI
                                        </h2>
                                    </div>
                                    <div class="contact-list">
                                        <div class="contact-item">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <p>Quận Thủ Đức, TPHCM</p>
                                        </div>
                                        <div class="contact-item">
                                            <i class="fas fa-phone-alt"></i>
                                            <p>Phone:
                                                <a href="tel:+000000000">+000000000</a>
                                            </p>
                                        </div>
                                        <div class="contact-item">
                                            <i class="fas fa-envelope-open"></i>
                                            <p>Email: 
                                                <a href="mailto:Zoozalabim123@gmail.com">Zoozalabim123@gmail.com </a>
                                            </p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col l-6 c-12 m-12 pt-20">
                                <img class="contact__img" src="{%static './image/image-homepage/contact-img.jpeg'%}"></img>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {%endblock%}

        {%block modal%}
        {%if modal == 'welcome'%}
        <div class="modal fade show" style="display:block">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Bạn đã đăng kí thành công</h5>
              </div>
              <div class="modal-body">
                 Chào mừng bạn đã đến với Zoozalabim. Bạn có thể đăng nhập với tài khoản vừa tạo
              </div>
              <div class="modal-footer">
                <a href="/login/"><button type="button" class="btn btn-success">Đăng nhập</button></a>
                <button type="button" class="btn btn-close">Đóng</button>
              </div>
            </div>
          </div>
        </div>
        {%endif%}
        {%endblock%}
