{%extends 'home/header.html'%}
{%load static%}
{%block content%}
    <div class="user-wrap">
        <div class="user ">
            <div class="grid">
                <div class="row no-gutters">
                    <div class="col l-4 m-4 c-12">
                        <div class="user__nav">
                            <div class="user__avatar-wrap">
                                {%if Profile.img%}
                                <div style="background-image: url({{Profile.img.url}});" class="user__avatar-img"></div>
    
                                {%else%}
                                <div style="background-image: url({% static './image/image-homepage/meo.jpeg' %});" class="user__avatar-img"></div>                                {%endif%}
                                <form action="{% url 'upload' %}" method="post" class="user__tab-info" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <input type="file" name="img" accept="image/*" class="user__avatar-choose-file-btn">
                                    <input type="submit" class="user__avatar-change-btn" value="Đổi ảnh">
                                </form>
                            </div>
                            <div class="user__option-list">
                                <div class="user__option-info user__option-item active">Thông tin cá nhân</div>
                                <div class="user__option-ticket user__option-item">Vé đã mua</div>
                                <div class="user__optipn-donate user__option-item ">Lịch sử hỗ trợ</div>
                                <div class="user__optipn-donate user__option-item ">Đổi mật khẩu</div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-8 m-8 c-12 user__tab-mobile">
                        <i class="mobile-back-btn fas fa-backward"></i>
                        <div class="user__tab-info-wrap user__tab-wrap-item active">
    
                            <form action="{% url 'edit_info' %}" method="post" class="user__tab-info">
                                {% csrf_token %}
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Tài khoản</div>
                                    <input type="text" disabled value="{{user.username}}" class="user__info-change-input">
                                </div>
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Họ và tên</div>
                                    <input required type="text" name="name" value="{{Profile.name}}" class="user__info-change-input">
                                </div>
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Số điện thoại</div>
                                    <input required type="tel" name="contact" value="{{Profile.contact}}" class="user__info-change-input">
                                </div>
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Email</div>
                                    <input required type="email" name="email" value="{{Profile.email}}" class="user__info-change-input">
                                </div>
                                <input type="submit" class="user__info-save" value="Lưu">
                            </form>
                        </div>
                        <div class="user__tab-ticket-wrap user__tab-wrap-item">
                            <div class="user__tab-ticket">
                                <table class="user__tab-table">
                                    <tr>
                                    <th>ID</th>
                                    <th>Ngày hết hạn</th>
                                    <th>Người lớn</th>
                                    <th>Trẻ em</th>
                                    <th>Tổng tiền</th>
                                    </tr>
                                    {% for item in Ticket%}
                                    <tr>
                                    <td>{{item.ticketID}}</td>
                                    <td>{{item.expired}}</td>
                                    <td>{{item.adult_type_quantity}}</td>
                                    <td>{{item.children_type_quantity}}</td>
                                    <td>10$</td>
                                    </tr>
                                    {%endfor%}



    
                                </table>
                            </div>
                        </div>
                        <div class="user__tab-donate-wrap user__tab-wrap-item">
                            <div class="user__tab-donate">
                                <table class="user__tab-table">
                                    <tr>
                                    <th>ID</th>
                                    <th>Ngày donate</th>
                                    <th>Số tiền</th>
                                    </tr>
                                    {%for item in Donate%}
                                    <tr>
                                    <td>{{item.donation_ID}}</td>
                                    <td>{{item.date_donated}}</td>
                                    <td>${{item.amount}}</td>
                                    </tr>
                                    {%endfor%}

    
                                </table>
                            </div>
                        </div>
                        <div class="user__tab-info-wrap user__tab-wrap-item">
                            <form action="{% url 'pwd' %}" method="post" class="user__tab-info">
                                {% csrf_token %}
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Mật khẩu hiện tại</div>
                                    <input type="password" name="old-password" class="user__info-change-input">
                                </div>
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Nhập mật khẩu mới</div>
                                    <input type="password" name="password1" class="user__info-change-input">
                                </div>
                                <div class="user__info-item">
                                    <div class="user__info-item-label">Nhập lại mật khẩu</div>
                                    <input type="password" name="password2" class="user__info-change-input">
                                </div>
                                <input type="submit" class="user__info-save" value="Lưu">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
{%endblock %}