{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static './assets/css/grid.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static './font-icon/fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './js/homepage-js/package.json' %}">
    <title>Login</title>
</head>
<body>
<div style="display: block; position:relative; margin: 100px auto;" class="auth-form auth-form__login">
    <div class="auth-form__container">
        <i class="auth-form__icon-close fas fa-times"></i>
        <div class="auth-form__heading">
            ĐĂNG NHẬP
        </div>
        <div class="auth-form__body">
            <form action="." method="POST">
                 {% csrf_token %}
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" name="username" autofocus="" required="" id="id_username" placeholder="Tài khoản">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" name="password" required="" id="id_password" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="auth-form__control">
		            <input type="hidden" name="next" value="/">
                    <input type="submit" value="Đăng nhập" class="auth-form__btn">
                    <a href=""class="auth-form__btn-forget-password">
                        Quên mật khẩu
                    </a>
                </div>
            </form>
        </div>
        <div class="auth-form__footer">
            <span>Chưa có tài khoản ?</span>
            <button href="" class="auth-form__footer-btn-control btn__open-register-form">
                Đăng ký
            </button>
        </div>
    </div>
 </div>

</body>
