{%extends 'home/header.html'%}
{%load static%}
{%block content%}
<!--        Đăng kí-->
    <div  class="auth-form auth-form__register">
        <div class="auth-form__container">
            <div class="auth-form__heading">
                ĐĂNG KÝ
            </div>
            <div class="auth-form__body">
                <form class="login_form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" name="username" maxlength="30" required="" id="id_username" placeholder="Tài khoản">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" name="password1" required="" id="id_password1" placeholder="Mật khẩu">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" name="password2" required="" id="id_password2" placeholder="Nhập lại mật khẩu">
                        </div>
                        <!-- Họ tên mới nè -->
                        <!-- <div class="auth-form__group">
                            <input type="text" class="auth-form__input" name="name" required="" id="id_name" placeholder="Họ và tên">
                        </div> -->

                        <div class="auth-form__group">
                            <input type="email" class="auth-form__input" name="email" required="" id="id_email" placeholder="E-mail">
                        </div>
                        <!-- CẢNH BÁO -->

<!--                        <div class="alert success">-->
<!--                            Đăng kí thành công, mời đăng nhập-->
<!--                        </div>-->
                        {%if warning == 'password'%}
                        <div class="alert warning">
                            Hai mật khẩu phải trùng nhau
                        </div>
                        {%endif%}
                        {%if warning == 'username'%}
                        <div class="alert warning">
                            Tài khoản đã tồn tại
                        </div>
                        {%endif%}

                    </div>
                    <div class="auth-form__control">
                        <input type="submit" value="Đăng ký" class="auth-form__btn">
                    </div>
                </form>
            </div>
            <div class="auth-form__footer">
                <span>Đã có tài khoản ?</span>
                <a href="/login/" class="auth-form__footer-btn-control btn__open-login-form">
                    Đăng nhập
                </a>
            </div>
        </div>
    </div>
{%endblock%}