{%extends "event/header.html"%}
{%load static%}

{%block content%}
<div class="content">
 <div class="grid">
    <div class="content__category">
      <div class="category__heading">
        Tin tức nổi bật
      </div>
      <div class="grid wide">
        <div class="row category__wrap">
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/news01.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  Zoozalabim nhộn nhịp ngày mở cửa trở lại
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/news02.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  Hổ bất ngờ kết bạn với chú dê béo tốt trong sở thú
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/news03.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  Chúng tôi chia sẻ để các con thú được tồn tại
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/news04.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  Thiếu nữ xinh đẹp trèo rào sở thú để tỏ tình với sư tử
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationemipsum Loreonemipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>

  <div class="grid">
    <div class="content__category">
      <div class="category__heading">
        Tin tức gần đây
      </div>
      <div class="grid wide">
        <div class="row category__wrap">
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 m-6 c-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  lorem ipsum
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>
          <div class="col l-3 c-6 m-6 category__post">
            <a href="" class="post-wrap">
              <div class="post-image" style="background-image: url(/static/image/image-news/img_aaa.png);">
              </div>
              <div class="post-content">
                <div class="post-title">
                  Zoozalabim nhộn nhịp ngày mở cửa trở lại
                </div>
                <div class="post-excerpt">
                  lorem ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationemipsum Loreonemipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem optio possimus a inventore maxime laborum.
                </div>
                <div class="post-information">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/C-u5WLJ9Yk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{%endblock%}


<!-- Post Slider -->
<!--<div class="content">-->
<!--  <div class="post-slider">-->
<!--    <h1 class="slider-title">Tin tức nổi bật</h1>-->
<!--    <i class="fas fa-chevron-left prev"></i>-->
<!--    <i class="fas fa-chevron-right next"></i>-->

<!--    <div class="post-wrapper">-->
<!--      <a href="" class="post">-->
<!--        <div class="slider-image" style="background-image: url(/static/image/image-news/news03.png);"></div>-->
<!--        <div class="post-content">-->
<!--          <div class="post-title">Chúng tôi chia sẻ để các con thú được tồn tại</div>-->
<!--          <i class="far fa-user"> Admin</i>-->
<!--          &nbsp;-->
<!--          <i class="far fa-calendar"> dd/mm/yyyy</i>-->
<!--        </div>-->
<!--      </a>-->

<!--      <a href="" class="post">-->
<!--        <div class="slider-image" style="background-image: url(/static/image/image-news/news05.png);"></div>-->
<!--        <div class="post-content">-->
<!--          <div class="post-title">Khách Trung Quốc trốn vé leo tường sở thú gặp... khu thả cọp</div>-->
<!--          <i class="far fa-user"> Admin</i>-->
<!--          &nbsp;-->
<!--          <i class="far fa-calendar"> dd/mm/yyyy</i>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="" class="post">-->
<!--        <div class="slider-image" style="background-image: url(/static/image/image-news/news02.png);"></div>-->
<!--        <div class="post-content">-->
<!--          <div class="post-title">Hổ bất ngờ kết bạn với chú dê béo tốt trong sở thú</div>-->
<!--          <i class="far fa-user"> Admin</i>-->
<!--          &nbsp;-->
<!--          <i class="far fa-calendar"> dd/mm/yyyy</i>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a href="" class="post">-->
<!--        <div class="slider-image" style="background-image: url(/static/image/image-news/news04.png);"></div>-->
<!--        <div class="post-content">-->
<!--          <div class="post-title">Thiếu nữ xinh đẹp trèo rào sở thú để tỏ tình với sư tử</div>-->
<!--          <i class="far fa-user"> Admin</i>-->
<!--          &nbsp;-->
<!--          <i class="far fa-calendar"> dd/mm/yyyy</i>-->
<!--        </div>-->
<!--      </a>-->

<!--      <a href="" class="post">-->
<!--        <div class="slider-image" style="background-image: url(/static/image/image-news/news01.png);"></div>-->
<!--        <div class="post-content">-->
<!--          <div class="post-title">Zoozalabim nhộn nhịp ngày mở cửa trở lại</div>-->
<!--          <i class="far fa-user"> Admin</i>-->
<!--          &nbsp;-->
<!--          <i class="far fa-calendar"> dd/mm/yyyy</i>-->
<!--        </div>-->
<!--      </a>-->

<!--    </div>-->

<!--  </div>-->