{%extends "event/header.html"%}
{%load static%}

{%block content%}
<div class="content">
        <div class="post-main-content">
          <div class="post-main-title">This is the title of the Post</div>
          <div class="post-main-info">
                  <i class="far fa-user"> Admin</i>
                  &nbsp;
                  <i class="far fa-calendar"> Mar 11, 2019</i>
                </div>
          <div class="post-main-image" style="background-image: url(/static/image/image-news/news01.png);"></div>
          <div class="post-main-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione modi error rerum possimus animi! Eos!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat at molestias vitae! Ipsa
              repudiandae praesentium nobis nesciunt, iusto pariatur tenetur commodi! Iste sequi placeat dolores nulla,
              expedita voluptas officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, facere iste! Ex quia hic recusandae
              optio velit ad consectetur totam sed sunt quasi voluptates, sequi molestias alias sapiente iste asperiores
              nostrum est voluptatem quae earum accusantium. Totam dolorem possimus rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione modi error rerum possimus animi! Eos!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat at molestias vitae! Ipsa
              repudiandae praesentium nobis nesciunt, iusto pariatur tenetur commodi! Iste sequi placeat dolores nulla,
              expedita voluptas officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, facere iste! Ex quia hic recusandae
              optio velit ad consectetur totam sed sunt quasi voluptates, sequi molestias alias sapiente iste asperiores
              nostrum est voluptatem quae earum accusantium. Totam dolorem possimus rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione modi error rerum possimus animi! Eos!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat at molestias vitae! Ipsa
              repudiandae praesentium nobis nesciunt, iusto pariatur tenetur commodi! Iste sequi placeat dolores nulla,
              expedita voluptas officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, facere iste! Ex quia hic recusandae
              optio velit ad consectetur totam sed sunt quasi voluptates, sequi molestias alias sapiente iste asperiores
              nostrum est voluptatem quae earum accusantium. Totam dolorem possimus rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione modi error rerum possimus animi! Eos!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat at molestias vitae! Ipsa
              repudiandae praesentium nobis nesciunt, iusto pariatur tenetur commodi! Iste sequi placeat dolores nulla,
              expedita voluptas officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, facere iste! Ex quia hic recusandae
              optio velit ad consectetur totam sed sunt quasi voluptates, sequi molestias alias sapiente iste asperiores
              nostrum est voluptatem quae earum accusantium. Totam dolorem possimus rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione modi error rerum possimus animi! Eos!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat at molestias vitae! Ipsa
              repudiandae praesentium nobis nesciunt, iusto pariatur tenetur commodi! Iste sequi placeat dolores nulla,
              expedita voluptas officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, facere iste! Ex quia hic recusandae
              optio velit ad consectetur totam sed sunt quasi voluptates, sequi molestias alias sapiente iste asperiores
              nostrum est voluptatem quae earum accusantium. Totam dolorem possimus rem!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, nisi.</p>
          </div>

        </div>
      </div>
      <!-- // Main Content -->
<hr>
<br></br>
    <div class="container" id="">

     <textarea class="input" id="input" placeholder="Chia sẻ cảm nghĩ của bạn..."></textarea>
     <button name="cancel" id="cancel">Hủy</button>
     <button name="comment" id="comment">Bình luận</button>

    <div class="box-container">
        <div class="box list"></div>
        <button name="delete" id="delete">xóa</button>
    </div>
</div>
</div>
{%endblock%}