{%extends "event/header.html"%}
{%load static%}

{%block content%}
<div class="content">

  <div class="post-main">
    <div class="post-main-title">{{post.title}}</div>
    <div class="post-main-info">
      <i class="far fa-user"> Admin</i>
      &nbsp;
      <i class="far fa-calendar"> {{post.date_uploaded}}</i>
    </div>
    <div class="post-main-image" style="background-image: url({{post.img.url}});"></div>
    <div class="post-main-content">
      {{post.description}}
    </div>
    <br>
    <br>
    <hr>
    <br>
  </div>
  <!-- // Form binh luan -->
  <div class="container" id="container">
    <h2 class="comment-title"> Comments</h2>
    <form action="{% url 'comment' %}" method="post">
      {% csrf_token %}
      <textarea name="text" class="input" id="input" row="20" placeholder="Chia sẻ cảm nghĩ của bạn..."></textarea>
      <input type="hidden" id="post" name="post" value="{{post.event_ID}}">
      <button name="cancel" id="cancel">Hủy</button>
      <button name="comment" id="comment">Bình luận</button>
    </form>
    <!-- // Phan hien thi binh luan -->
          {%for comment in Comments%}
    <div class="box">

      <div class="comment-detail">
        <img class="user-image" src="{{comment.author.img.url}}" alt="" />
        <div class="user-name">{{comment.author}}</div>
      </div>
      <div class="user-comment">
        {{comment.text}}
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{%endblock%}