*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
#main{
    background-color: var(--background-color);
    position: relative;
}

/* Header */

.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    z-index: 10;
}
.header__wrap
{
    height:var(--header-height); 
    display: flex;
    align-items: center;
}
.header__logo-link
{
    max-width: 203px;
    margin: 0 auto 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__logo-img{
    max-width: 202px;
}
.header__nav
{
    display: flex;
    list-style-type: none; 
    justify-content: space-around; 
    margin-right: 20px;
}
.header__nav li
{
   display: inline-block
}
.header__subnav-animal li:hover a,
.header__nav>li:hover>a
{
    background-color: var(--green-color);
    color: var(--white-color);
}
.header__nav>li>a
{
    text-decoration: none;
    color: var(--green-color);
    font-size: 18px;
    padding: 10px 20px; 
}
.header__nav>li .active{
    font-weight: 700;
    font-size: 16px ;
}
.header__user
{
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.header__user-img-wrap
{
    width: 50px;
    border-radius:50%;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
}
.header__user-img
{
    padding-top: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__nav-username{
    white-space: nowrap;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header__user-subnav
{
    position: absolute;
    top: calc( 100% + 15px );
    left: 0;
    list-style-type: none;
    display: block;
    min-width: 180px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: var(--white-color);
    animation: userMenuGrowth ease 0.3s;
    display: none;
}
.header__user:hover .header__user-subnav
{
    display: block;
}
.header__user-subnav li a {
    padding: 12px 12px;
    display: block;
    text-decoration: none;
    color: var(--green-color);
}
.header__user-subnav li:hover a
{
    background-color: var(--green-color);
    color:var(--white-color);
}
.header__user-subnav li:last-child a
{
    border-top: 1px solid #eeeeee;
}
.header__user-subnav::after 
{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -16px;
}
.header__user-subnav::before
{
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -28px;
    right: 20px;
    z-index: -1;
}
@keyframes userMenuGrowth 
{
    from{
        opacity: 0;
        transform: scale(0);
    } 
    to{
        opacity: 1;
        transform: scale(1);
    }   
}
.header__btn
{
    margin: 0 30px 0 0;
}
.header__btn-register
{
    padding: 10px 25px;
}
.header__btn-login
{
    padding: 10px 14px;
}
.header__btn-register:hover,
.header__btn-login:hover
{
    opacity:0.9
}
.header__nav-mobile-menu-btn
{
    display:none;
}
.header__nav-mobile,
.header__nav-mobile-overlay
{
    display:none;
}
/* Slider */
.slider
{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: var(--header-height);
}
.slides
{
    width: 500%;
    height: auto;
    display: flex;
}
.slide__img-first
{
    background: url('/static/image/image-homepage/Slide1.png') top center / cover no-repeat;
    padding-top: 47%;
    background-color: #cccccc;
    position: relative;
    filter: brightness(70%);
}
.slide__img-second
{
    background: url('/static/image/image-homepage/Slide2.jpeg') top center / cover no-repeat;
    padding-top: 47%;
    background-color: #cccccc;
    position: relative;
    filter: brightness(70%);
}
.slide__img-third
{
    background: url('/static/image/image-homepage/Slide3.jpeg') top center / cover no-repeat;
    padding-top: 47%;
    background-color: #cccccc;
    position: relative;
    filter: brightness(70%);
}
.slides input
{
   display: none;
}
.slide
{
    width: 20%;
    transition: 2s;
}
/* manual navigation */
.navigation-manual
{
    position:  absolute;
    width: 100%;
    bottom: 23px;
    display: flex;
    justify-content: center;
}
.manual-btn
{
    border: 2px solid var(--white-color);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s
}
.manual-btn:not(:last-child)
{
    margin-right: 40px;
}
.manual-btn:hover
{
    background-color:var(--white-color);
}
#radio1:checked~ .first
{
    margin-left: 0;
}
#radio2:checked~ .slide-first
{
    margin-left: -20%;
}
#radio3:checked~ .slide-first
{
    margin-left: -40%;
}
/* navigation auto */
.navigation-auto
{
    position:  absolute;
    width: 100%;
    bottom: 23px;
    display: flex;
    justify-content: center;
}
.auto-btn
{
    border: 2px solid var(--white-color);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s
}
.auto-btn:not(:last-child)
{
    margin-right: 40px;
}
#radio1:checked~ .navigation-auto .auto-btn1
{
    background-color:var(--white-color);
}
#radio2:checked~ .navigation-auto .auto-btn2
{
    background-color:var(--white-color);
}
#radio3:checked~ .navigation-auto .auto-btn3
{
    background-color:var(--white-color);
}

/* slider content */
.slider__content
{
    position: absolute;
    bottom: 10%;
    left: 10%;
    max-width: 500px;
}
.slider__content-title
{
    color: var(--yellow-color);
    font-size: 24px;
    text-shadow:  0 0 1px #000;
}
.slider__content-desc
{
    color: var(--white-color);
    margin: 20px 0;
    font-size: 18px;
    line-height:1.5;
    text-align: justify;
    text-shadow:  0 0 1px #000;
}
.slider__btn-buy-ticket,
.slider__btn-donate
{
    padding: 20px 35px;
    font-size: 21px;
    font-weight: 600;
    border-radius:10px;
    margin-right: 24px;
    cursor: pointer;   
}
.slider__btn-buy-ticket:hover,
.slider__btn-donate:hover
{
    opacity: 0.8
}



/* Content */
.content
{
    width: 100%;
    margin: 0 0 100px;
}
.info{
    padding: 120px 80px 0;
}
.info.row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-top: 120px;
}
/* .info::after
{
    content:'';
    width: 100%;
    height: 10px;
    position: absolute;
    background-color: var(--green-color);
    bottom: -30px;
    z-index: -1;
} */
.info__item
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.info__item-icon
{
    min-width: 90px;
    min-height: 90px;
    border-radius: 50%;
    background-color:var(--green-color);
    color: var(--white-color);
    display:flex;
    justify-content:center;
    align-items: center;
}
.info__item-icon i
{
    font-size: 50px;
}
.info__item-content
{
    margin-left: 10px;
    flex: 1;
}
.info__item-content-title
{
    margin-bottom: 5px;
    color: #7DCE82;
    font-size: 20px;
    font-weight: bold;
}
.info__item-content-desc
{
    font-size:18px
}

/* introduce */
.content__introduce
{
    padding-top:150px;
}
.introduce
{
    width: 100%;
    position: relative;
    z-index:1;
}
.introduce__img img
{
    width: 100%;
    border-radius: 15px;
}
/* Bán vé */
.ticket
{
   margin-top: 100px;
   position: relative;
}
.ticket__img
{
    width: 100%;
}
.ticket__group
{
    position: absolute;
    bottom: 20%;
    left: 5%;
    text-align: center;
}
.ticket__text p
{
    color: var(--white-color);
    font-size: 40px;
}
.ticket__text h1
{
    color: var(--yellow-color);
    margin:20px 0 40px;
    font-size: 70px;
}
.ticket__btn
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    font-size:30px;
    border-radius: 5px;
    border: 2px solid var(--yellow-color);
    color: var(--yellow-color);
    background-color: transparent;
}
.ticket__btn:hover
{
    border: 2px solid var(--yellow-color);
    color: var(--white-color);
    background-color:var(--yellow-color);
}
/* Donate */
.donate{
    margin-top: 100px;
}
.donate__wrap
{
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%
}
.donate__btn
{
    text-decoration: none;
    color: var(--yellow-color);
    padding: 12px 30px;
    border: 3px solid var(--yellow-color);
    display: inline-block;
    border-radius: 3px;
    font-size: 30px;
    font-weight:600;
    margin-top: 20px;
}
.donate__btn:hover
{
    background-color:var(--yellow-color);
    color: var(--white-color);
}
.donate__img
{
    width: 100%;
    border-radius: 15px;
    margin-top: 30px;
}
/* hình ảnh động vật */

.image-animal
{
    padding-top:66px;
}
.image-animal__heading {
    text-align: center;
}
.image-animal__list{
    margin-top: 50px;
    position: relative;
}
.image-animal__item
{
    margin-top: 20px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
.image-animal__item-img
{
    padding-top: 85%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s;
}
.image-animal__item-name{
    color: var(--yellow-color);
    font-size: 30px;
    font-weight:600;
    padding: 15px 0 10px;
    text-align: center;
}
.image-animal__item-desc
{
    color: var(--black-color);
    font-size: 18px;
    margin: 0 15px 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height:1.3
}
.image-animal__item:hover
{
    background-color:var(--green-color);
}
.image-animal__item:hover .image-animal__item-img
{
    transform: scale(1.05);
    opacity:0.85
}
.image-animal__item:hover .image-animal__item-desc
{
    color: var(--white-color)
}
.image-animal__more-text{
    position: absolute;
    right: 20px;
    bottom:-40px;
    text-decoration: none;
    color: var(--green-color);
    font-size:25px;
    font-weight: 500;
}
.image-animal__more-text:hover
{
    color:var(--yellow-color)
}
/* Video */
.video-animal
{
    text-align: center;
    padding-top: 66px;
}
.video__category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 50px auto 0;
}
.video__category-option-list
{
    margin-top: 20px;
}
.video__category-place
{
    padding: 12px 16px;
    background-color: var(--green-color);
    border-radius:5px;
}
.video__category-place-display{
    width:960px;
    height: 540px;
}
.swiper {
    width: var(--swiper-width);
    height: 500px;
    padding: 50px 30px 50px 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.video__category-option-item
{
    height: 60px;
    width: 100%;
    border-radius: 5px;
    border: 3px  solid var(--green-color);
    cursor:pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: 0;
    flex-shrink: 0;
}
.video__category-option-item:hover,
.video__category-option-item.active
{
    background-color: var(--green-color);
    color: var(--white-color);
}
.swiper-button-next,
.swiper-button-prev {
    z-index: 1111;
    left: calc( 50% - 15px);
    transform: rotate(90deg);
    transform-origin: left center;
  }
.swiper-button-prev {
    top: 10px;
  }
.swiper-button-next {
    top: auto;
    bottom: 10px;
}
.swiper::before
{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    bottom: 0;
    width: var(--swiper-width);
    height: 55px;
    background-color: var(--background-color);
    right: 0px;
    z-index: 11;
}
.swiper::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: var(--swiper-width);
    height: 50px;
    bottom:-5px;
    background-color: var(--background-color);
    z-index: 11;
}
/* News */
.content__news
{
    padding-top: 100px;
}
.news
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__heading
{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 900px;
}
.news__item
{
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--green-color);
    text-decoration: none;
    display: block;
    margin-top: 20px;
    cursor: pointer;
}
.news__list
{
    margin-top: 50px;
}
.news__item:hover
{
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
    transform: translateY(-1px)
}
.news__item:hover .news__item-img
{
    transform: scale(1.05);
}
.news__item-img{
    padding-top: 80%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s;
}
.news__item-content{
    padding: 10px 20px;
}
.news__item-content-title
{
    color: var(--yellow-color);
    font-size: 20px;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.news__item-content-date{
    font-style: italic;
    font-size: 18px;
    color: #ccc;
    padding: 10px 0;
}
.news__item-content-desc
{
    color:var(--white-color);
    font-size:18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 10px 0;
    line-height: 1.3
}
.news__item-see-more
{
    display: block;
    float:right;
    margin:0 20px 10px 0;
    color: #ccc;
    font-style: italic;
    text-decoration: none;
}
.news__item-see-more:hover
{
    color: var(--yellow-color)
}
/* Contact */
.content__contact
{
    padding-top: 200px;
}
.contact
{
    position: relative;
    z-index:1;
}
.contact__content
{
    margin: 20px 0 0 40px ;
}
.contact-title
{
    text-align: center;
}
.contact-list
{
    line-height: 1.5;
    text-align: center;
    margin-top: 30px;
}
.contact-item
{
    margin-top: 20px;
}
.contact-item i{
    font-size: 30px;
    color: var(--green-color);
    min-width: 30px;
}
.contact-item p
{
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
}
.contact-item p a
{
    opacity: 0.8
}
.contact-item p a:hover
{
    opacity: 1
}
.contact__img
{
    width: 100%;
    border-radius: 15px
}
/* Footer */
.footer
{
    background-color: var(--green-color);
    position: relative;
    text-align: center;
}
.footer__list
{
    padding-top: 20px;
    padding-left: 80px;
}
.footer__item
{
    text-align: left;
    overflow: hidden;
}
.footer__item-heading
{
    font-size: 24px;
    color: var(--yellow-color);
    font-weight: 700;
    margin: 10px 0;
}
.footer__item-desc
{
    color: var(--white-color);
}
.footer__item-desc a 
{
    text-decoration: none;
    color:var(--white-color); 
}
.footer__item-desc a i
{
    font-size: 30px;
    margin:0 10px;;
}
.footer__item-desc p,
.footer__item-desc a
{
    display:block;
    margin: 15px 0;
    font-size: 18px
}
.footer__item-icon
{
    display: flex;
    align-items: center;
}
.footer__item-icon a
{
    text-decoration: none;
    color:var(--white-color); 
}
.footer__item-icon i
{
    font-size:28px;
    margin: 0 10px 0 0px;
}
.footer__logo
{
    max-width:300px;
    margin: 50px 0 10px;
}
.footer__copyright
{  
    color: var(--white-color);
    font-size: 16px;
    padding: 20px 0 10px;
}
.footer__img {
    position:absolute;
    top: 0;
    right: 20px;
    transform:translateY(-100%);
    width: 200px;
}

/* Login-logout */
.modal
{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 11;
    display:none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
.modal.open { 
    display:flex;
}
.auth-form
{
    position:relative; 
    padding: 104px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ecffea;
    animation: authFormFadeIn ease 0.5s;
}
.auth-form__container
{
    background-color: var(--white-color);
    width: 600px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 5px 15px #ccc;
}
@keyframes authFormFadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(-140px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}
.auth-form__register.open{
    display: block;
}
.auth-form__login.open{
    display: block;
}
.auth-form__icon-close
{
    position: absolute;
    top:0;
    right: 0;
    font-size: 40px;
    padding: 15px 15px;
    cursor: pointer;
    color: var(--white-color);
}
.auth-form__icon-close:hover
{
    color: var(--black-color);
}
.auth-form__heading
{
    font-size: 40px;
    font-weight:600;
    text-align: center;
    padding: 30px 0 20px;
    margin: 0 0 20px;
    color: var(--white-color);
    background-color: var(--green-color);
}
.auth-form__body
{
    padding:0 40px;
}
.auth-form__form
{
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.auth-form__group
{
    width: 100%;
}
.auth-form__input
{
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid #999;
    margin-top: 15px;
}
.auth-form__control
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.auth-form__btn
{
    background-color:var(--white-color);
    border: none;
    padding: 10px 25px;
    font-size: 25px;
    color:var(--green-color);
    cursor: pointer;
    border-radius:30px;
    border: 1px solid var(--green-color);
    margin: 30px 0 20px;
}
.auth-form__btn:hover
{
    background-color:var(--green-color);
    color:var(--white-color);
}

.auth-form__btn-forget-password
{
    color: var(--green-color);
}
.auth-form__footer
{
    background-color:var(--green-color);
    text-align: center;
    margin-top: 20px;
    padding: 10px 0 10px;
    color: var(--white-color)
}
.auth-form__footer-btn-control
{
    color: var(--white-color);
    cursor: pointer;
    border: none;
    font-size: inherit;
    background-color: transparent;
}
.auth-form__footer-btn-control:hover
{
    color: var(--yellow-color)
}


/* USER-INFO-FORM */
.user-wrap
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 104px 0 50px;
    background-color: #ecffea;
}
.user
{
    width: 900px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 5px 15px #ccc;
}
.user.open{
    display:block;
}
.user__nav
{
    text-align: center;
    background-color: var(--green-color);
    padding: 30px 0 20px;
}
.user__avatar-img
{
    padding-top: 70%;
    max-width:70%;
    border-radius: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}
.user__avatar-choose-file-btn
{
    max-width:100%;
    font-size:18px;
    color: var(--white-color);
    margin-left: 25px;
    margin-top: 10px;
}
.user__avatar-change-btn
{
    padding: 12px 30px;
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--green-color);
    border-radius: 5px;
    margin-top:20px;
    display: inline-block;
    font-size:20px;
    border: none;
    font-weight: 500;
}
.user__option-list
{
    margin-top: 30px;
}
.user__option-item
{
    padding: 20px 0;
    font-size:20px;
    cursor: pointer;
}
.user__option-item
{
    color: var(--white-color);
}
.user__option-item.active
{
    background-color: #68A74C;
}
.user__option-item:hover
{
    background-color: #68A74C;
}
.user__control
{
    margin-top: 30px;
}
.user__control-change-pwd
{
    color: var(--white-color);
    margin: 20px 0;
    font-size:18px;
    cursor: pointer;
}
.user__control-logout
{
    color: var(--white-color);
    font-size:18px;
    cursor: pointer;
}
.mobile-back-btn
{
    display: none;
}
/* USER INFO TAB */
.user__tab-info-wrap
{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%
}
.user__tab-info-wrap.active
{
    display: flex;
}
.user__info-item
{
    margin-top: 20px;
}
.user__info-item-label
{
    font-size: 25px;
    margin-bottom: 10px;
}
.user__info-change-input
{
    padding: 20px 10px;
    width: 500px;
    font-size: 18px;
}
.user__info-save
{
    outline: none;
    background-color: var(--green-color);
    color: var(--white-color);
    padding:12px 40px;
    margin-top: 20px;
    float: right;
    border:none;
    font-size:20px;
    cursor: pointer;
}

/* TICKET HISTORY */
/* DONATE HISTORY */
.user__tab-ticket-wrap,
.user__tab-donate-wrap
{
    display: none;
    align-items: center;
    justify-content: center;
}
.user__tab-donate-wrap.active,
.user__tab-ticket-wrap.active
{
    display:flex;
}
.user__tab-donate,
.user__tab-ticket
{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height:500px;
    overflow-y:scroll;
    margin-top: 60px;
}
.user__tab-table
{
    width:500px;
    text-align:center;
    font-size:20px;
}
.user__tab-table th
{
    font-weight: 600;
}
.user__tab-table tr
{
    height: 30px;
}
