/* Mobile */
@media (max-width:739px)
{   
    :root{
        --navbar-height:0px;
        --header-height:54px;
    }
    .hide-on-mobile
    {
        display: none;
    }
    .row{
        margin: 0;
    }
    ul
    {
        list-style-type: none;
    }  
    a
    {
        text-decoration: none;
    }
    /* HEADER */
    .header__logo-img
    {
        max-width:150px;
    }
    .header__logo-link
    {
        margin-left: 10px;
    }
    .header__nav-mobile-menu-btn
    {
        display:block;
        padding: 0 15px;
        font-size: 25px;
    }
    .header__mobile-menu-btn i
    {
        font-size: 25px;
    }
    .header__nav-mobile-overlay
    {
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        display: none;
        animation: SlideInDown ease 0.2s;
    }
    @keyframes SlideInDown{
        from { 
            opacity:0;
        }
        to{
            opacity: 1;
        } 
    }
    .header__nav-mobile-close-btn
    {
        position:absolute;
        right:0;
        top:0;
        padding:10px 15px;
        font-size:30px;
        color: var(--black-color)
    }
    
    .header__nav-mobile
    {
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1111;
        background-color: var(--white-color);
        height:100%;
        width: 80%;
        display:flex;
        flex-direction: column;
        transition:  all linear 0.2s;
        transform:translateX(-100%);
    }
    .nav__bars-check:checked~.header__nav-mobile-overlay
    {
        display: block;
    }
    .nav__bars-check:checked~.header__nav-mobile
    {
        transform: translateX(0%);
    }
    /* PHẦN USER TRONG NAV */
    .header__nav-mobile-user
    {
        border-bottom: 1px solid #ccc;
    }
    .header__nav-mobile-user-info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:var(--white-color);
        padding: 50px 0 20px;
    }
    .header__nav-mobile-user-image
    {
        overflow: hidden;
        min-width: 110px;
        min-height: 110px;
        border-radius: 50%;
    }
    .header__nav-mobile-user-image img
    {
        max-width: 110px;
        display:block
    }
    .header__nav-mobile-user-name
    {
        margin-top: 15px;
        font-size:20px;
        color: var(--black-color);
    }
    .header__nav-mobile-user-name span
    {
        font-weight: 600;
    }
    .header__nav-mobile-user-control
    {
        margin: 50px 0 0px;
    }
    .header__nav-mobile-user-profile,
    .header__nav-mobile-user-control li
    {
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .header__nav-mobile-user-control li:hover{
        background-color: #999
    }
    .header__nav-mobile-user-profile i,
    .header__nav-mobile-user-control li i
    {
        font-size:22px;
        min-width:35px;
    }
    .header__nav-mobile-user-profile a,
    .header__nav-mobile-user-control li a
    {
        color: var(--black-color);
        font-size: 18px;
        margin-left: 10px;
        padding: 17px 0;
    }
    /* KHÚC DƯỚI USER */
    .header__nav-mobile-btn-page
    {
        flex: 1;
    } 
    .header__nav-mobile-btn-page li
    {
        display:flex;
        align-items: center;
        padding-left: 20px;
    }
    .header__nav-mobile-btn-page li:hover{
        background-color: #999
    }
    .header__nav-mobile-btn-page li i
    {
        min-width:35px;
        font-size:22px;
    }
    .header__nav-mobile-btn-page li a
    {
        color: var(--black-color);
        margin-left: 10px;
        font-size:18px;
        display:inline-block;
        padding: 17px 0;
        flex: 1;

    }
    .header__nav-mobile-btn-logout
    {
        /* border-top: 1px solid #ccc; */
        padding-top: 15px;
        justify-self:flex-end;
        position: relative;
        padding-left: 20px;
        margin-bottom: 15px;
    }
    .header__nav-mobile-btn-logout::after
    {
        position:absolute;
        content:"";
        border-top: 1px solid #ccc;
        top: 0;
        left: 0;
        right: 0;
    }
    .header__nav-mobile-btn-logout a
    {
        font-size:20px;
        color: var(--black-color);
        margin-left: 10px;
        display:inline-block
    }
    .header__nav-mobile-btn-logout-icon
    {
        font-size:25px;
        min-width:30px;
    }

    /* SECTION */
    .section-heading--yellow,
    .section-heading--green
    {
        font-size: 25px;
        min-width: 150px;
    }
    .section-desc
    {
        margin-top: 10px;
        font-size: 15px;
    }
    /* SLIDER */
    .slider__content
    {
        bottom: 20%;
        left: 6%;
    }
    .slider__content-title
    {
        font-size:16px
    }
    .slide-item
    {
        padding-top: 55%;
        filter: brightness(80%);
    }
    .navigation-auto,
    .navigation-manual
    {
        bottom: 10px;
    }
    .manual-btn,
    .auto-btn
    {
        padding: 5px;
    }
    .auto-btn:not(:last-child),
    .manual-btn:not(:last-child)
    {
        margin-right: 25px;
    }
    /* CONTENT */
    .content-section
    {
        padding: 0 15px;
    }
    /* INFO */
    .info
    {
        padding: 20px 0;
    }
    .info__item
    {
        flex-direction: column;
        text-align: center;
    }
    .info__item-content
    {
        flex:1;
        margin-top: 5px;
    }
    .info__item-icon
    {
        min-width:60px;
        min-height: 60px;
    }
    .info__item-icon i
    {
        font-size: 30px
    }
    .info__item-content-title
    {
        font-size:18px;
    }
    .info__item-content-desc
    {
        font-size: 16px
    }
    /* INTRODUCE */
    .content__introduce
    {
        padding-top: 20px;
    }
    .introduce-title
    {
        text-align: center;
    }
    /* TICKET */
    .ticket
    {
        margin-top: 50px;
    }
    .ticket__group
    {
        left: 3%;
        bottom: 10%;
    }
    .ticket__text p
    {
        font-size:12px;
    }
    .ticket__text h1
    {
        font-size:20px;
        margin: 5px 0 10px;
    }
    .ticket__btn
    {
        padding: 6px 10px;
        font-size:15px;
    }
    /* DONATE */
    .donate{
        margin-top: 55px;
    }
    .donate__btn
    {
        padding: 6px 20px;
        font-size:25px;
        margin-top: 10px;
    }
    /* IMAGE ANIMAL */
    .image-animal
    {
        padding-top: 50px;
    }
    .image-animal__item-name
    {
        font-size: 25px;
        margin: 5px 0;
        padding:0;
    }
    .image-animal__item-desc
    {
        font-size:15px;
        margin: 0 10px 15px;
    }
    .image-animal__more-text
    {
        bottom: -30px;
        font-size:20px;
        font-weight:400
    }
    /* TIN TỨC */
    .content__news
    {
        padding-top: 60px;
    }
    .news__item-content
    {
        padding: 5px 10px;
    }
    .news__item-content-title
    {
        font-size: 18px;
        margin:8px 0;
    }
    .news__item-content-date
    {
        font-size: 15px;
        padding: 0;
        margin: 8px 0;  
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;

    }
    .news__item-content-desc
    {
        font-size: 15px;
        margin: 8px 0;
    }
    /* CONTACT */
    .content__contact
    {
        padding-top: 55px;
    }
    .contact__content
    {
        margin: 0 auto 20px;
    }
    .contact-list
    {
        margin-top:20px;
        padding-left: 20px;
        text-align: left;
    }
    .contact-item p
    {
        margin-left: 10px;
        font-size:16px;
    }
    .contact-item i
    {
        font-size:25px;
    }
    /* Footer heading */
    .footer__list
    {
        padding:0 10px ;
    }
    .footer__item-heading
    {
        font-size:18px;
    }
    .footer__item-desc,
    .footer__item-desc p,
    .footer__item-desc a
    {
        font-size:15px;
        margin: 0 0 15px;
    }
    .footer__logo
    {
        max-width:200px;
        margin: 30px 0 10px;
    }
    .footer__copyright
    {
        padding:10px 0;
        font-size:12px;
    }
    /* USER-INFO */
    .user-wrap
    {
        padding: 104px 0 50px;
    }
    .user__info-change-input
    {
        width: unset;
    }
    .user__avatar-img
    {
        padding-top:50%;
        max-width: 50%;
    }
    .user__info-save
    {
        margin-bottom: 20px;
    }
    .user__tab-mobile
    {
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        /* transform: translateX(-100%); */
        display:none;
        animation: leftToRight ease 0.5s;
    }
    @keyframes leftToRight{
        from { 
            opacity:0;
            transform: translateX(-100%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        } 
    }
    .user__tab-mobile.active
    {
        /* transform: translateX(0%); */
        display:block;
    }
    .mobile-back-btn
    {
        display: block;
        position: absolute;
        font-size:25px;
        padding:20px
    }
    /* Modal */
    .modal-content
    {
        width: 400px;
    }
}


/* TABLET */
@media (min-width: 740px) and (max-width:1025px)
{
    .header__logo-link
    {
        margin-left: 10px;
    }
    .header__logo-img
    {
        max-width: 150px
    }
    .header__nav
    {
        margin:0;
    }
    .header__btn{
        margin: 0 10px 0;
    }
    .header__nav>li>a
    {
        font-size: 15px;
        padding: 10px 10px;
    }
    .header__user 
    {
        margin-right: 10px;
    }
    .header__btn-login
    {
        padding: 10px 4px;
    }
    .header__btn-register
    {
        padding: 10px 15px;
    }
    .introduce-title
    {
        text-align: center;
    }
    .video__category-place-display
    {
        width: 560px;
        height: 315px;
    }
    .swiper
    {
        width:150px;
        height: 400px;
    }
    .video__category
    {
        max-width: 750px;
    }
    .ticket__text h1
    {
        font-size: 30px;
        margin-bottom:10px
    }
    .ticket__text p
    {
        font-size: 20px
    }
    .ticket__btn
    {
        padding: 10px 20px;
        font-size:20px;
    }

    .btn--green,.btn--white
    {
        font-size: 15px;
    }
    .slider__content-desc
    {
        font-size:15px;
    }
    .slider__content
    {
        max-width: 400px;
    }
    .slide-item
    {
        padding-top: 55%
    }
    .slider__btn-buy-ticket, .slider__btn-donate
    {
        padding: 10px 15px;
        border: none;
        border-radius:2px
    }
    /* Info */
    .info
    {
        padding-top:80px
    }
    /* Introduce */
    .content__introduce
    {
        padding-top:80px;
    }
    .introduce__content
    {
        margin-top: 30px;
    }
    /* Donate */
    .donate
    {
        margin-top:60px
    }
    /* Video */
    .video__category-place
    {
        padding: 5px 5px;
    }
    .video__category
    {
        margin-top: 0px;
    }
    .image-animal
    {
        padding-top:20px;
    }
    /* Contact */
    .content__contact
    {
        padding-top: 55px;
    }
    /* USER INFO */
    .user__info-change-input
    {
        width: 450px;
    }
}
/* PC low */
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px)
{
    .video__category-place-display
    {
        width: 800px;
        height: 450px;
    }
    .swiper
    {
        width:200px;
    }
}