*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
    margin: 0; 
}   
/* Slider */
.slider
{
    width: 100%;
    margin-top: 54px;
    position: relative;
}
.slider-img
{
    padding-top: 50%;
    background: url(/static/image/image-donate/paws-up.jpg) top center / cover no-repeat;
    color: white;
    filter: brightness(80%);
}
.slider-text
{
    position:absolute;
    top: 50%;
    left:calc(5% + 80px);
    text-shadow: 0 0 1px var(--black-color);
    color: var(--white-color);
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

/* Connect */
.content{
    margin-top:50px;
}
.donate-heading
{
    color: var(--yellow-color);
    font-size: 34px;
    font-weight:600;
}
.donate__img
{
    margin: 10px;
    padding-top: 120%;
    background: url(/static/image/image-donate/content-img.jpeg) top center / cover no-repeat;
    color: white;
    filter: brightness(80%);
}
.donate__price-list
{
    margin-top: 10px;
}
.donate__price-item
{
    color: var(--black-color);
    width: 80%;
    padding: 15px 0;
    background-color: var(--white-color);
    border: 3px solid var(--yellow-color);
    text-align: center;
    font-size:25px;
    margin-top: 15px;
    cursor: pointer;
    display:inline-block;
    font-weight: 500;
    border-radius: 5px;
}
.donate__price-item:hover
{
    background-color: var(--yellow-color);
    color: var(--white-color)
}
.donate__input-wrap
{
    margin-top: 20px
}
.donate__input
{
    margin-top: 15px;
    position: relative;
}
.donate__input-fill
{
    width: 100%;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #ccc;
}
.donate__input::after
{
    content:'$';
    position: absolute;
    left: 20px;
    font-size: 25px;
    font-weight: 500;
    color:var(--black-color);
    top:47%;
    transform: translateY(-50%);
}
.donate__fill input
{
    padding: 10px 20px;
    width: 100%;
    font-size:20px;
    margin: 15px 0 0;
    border: 2px solid #ccc;
}
#card-element
{
    margin-top: 15px;
}
.donate__btn-wrap
{
    display: flex;
    justify-content: center;
}
.donate__btn
{
    margin-top: 20px ;
    display: flex;
    align-items: center;
    background-color: var(--yellow-color);
    color: var(--white-color);
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 50px;
}
.donate__btn:hover
{
    opacity: 0.8
}
.title-content
{
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color: var(--black-color);
    font-weight: 700;
}
/* Donate other */
.donate-other{
    margin-top:100px;
}
.donate-other-heading{
    font-size:40px;
    color: var(--green-color);
    text-align: center
}
.donate-other__list
{
    margin-top: 50px;
}
.donate-other__item
{
    cursor: pointer;
    position: relative;
    background-color: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.donate-other__item:hover
{
    cursor: pointer;
    background-color: var(--green-color);
}
.donate-other__item:hover .donate-other__item-desc
{
    color: var(--white-color)
}
.donate-other__item:hover .donate-other__item-img{
    transform: scale(1.05);
}
.donate-other__item-img-wrap{
    overflow: hidden;
}
.donate-other__item-img{
    padding-top: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: all 0.5s ease;
}

.donate-other__item-content
{
    padding: 20px 20px 40px;
}
.donate-other__item-title
{
    color: var(--yellow-color);
    font-weight: 600;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.donate-other__item-desc
{
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.donate-other__item-hover-logo
{
    position:absolute;
    bottom:5px;
    left: 50%;
    font-size: 20px;
    color: white;
    display: none !important;
    transform: translateX(-50%);
}
.donate-other__item:hover .donate-other__item-hover-logo
{
    display: block !important;
}

/* Footer */

/* Stripe element */
.StripeElement 
{
    box-sizing: border-box;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


/* SUCCESS */
#box
{
    min-height:800px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    text-align: center;
}
.success-icon {
    font-size: 60px;
    border: 5px solid var(--green-color);
    border-radius:50%;
    padding:40px;
    color: var(--green-color);
}
.success-title{
    margin-top: 20px ;
    font-size:30px;
    color: var(--green-color);
}
.success-content
{
    margin-top:30px;
    font-size: 25px;
    color: var(--black-color)
}
.success-btn-back
{
    margin-top: 90px;
    text-decoration: none;
    color: var(--green-color);
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 10px 24px;
    border: 2px solid var(--green-color);
    font-size: 25px;
}
.success-btn-back:hover
{
    opacity: 0.8;
}