@media (max-width:739px)
{
    .row
    {
        margin: 0;
    }
    .slider-img
    {
        padding-top: 55%;
    }
    .content
    {
        padding: 0 8px;
        margin-top: 20px;
    }
    .donate__price-item
    {
        padding: 10px 0;
        width: 100%;
    }
    .donate__img
    {
        margin: 10px 0 0;
    }
    .slider-text
    {
        left: 10px;
        bottom:-10px;
        top:unset;
        font-size:18px;
    }
    .donate-heading
    {
        font-size:20px;
    }
    .donate__btn
    {
        padding: 10px 30px;
    }
    .donate-other
    {
        margin-top:30px
    }
    .donate-other-heading
    {
        font-size:20px;
    }
    .title-content
    {
        font-size:18px;
        margin-top: 15px;
    }
    .donate__price-list
    {
        margin-top:0;
    }
    .donate__input-fill
    {
        font-size:18px;
    }
    .donate__fill input,
    .donate__input
    {
        margin-top: 8px;
        font-size:18px;
    }
    #card-element
    {
        margin-top: 10px;
    }
}