{% extends 'animals/base.html' %}
{% load static %}
        {%block title%} Phân loài {%endblock%}
        {% block content %}
        <div class="content">
            <div class="grid">

                <div class="animal-main">
                    <div class="animal-main__img"></div>
                    <div class="animal-main__wrap-text">
                        <div class="animal-main__name">
                            VOI
                        </div>
                        <div class="animal-main__desc">
                            Họ Voi là một họ động vật có vú lớn, ăn thực vật được gọi chung là voi và voi ma mút. Chúng là những động vật có vú lớn trên cạn với mõm biến đổi thành vòi, và răng biến đổi thành ngà. Đa số các chi và loài trong họ này đã tuyệt chủng. Chỉ có hai chi, Loxodonta và Elephas, là còn tồn tại
                        </div>
                    </div>
                </div>

                <div class="content__category">
                    <div class="category__heading">
                        DANH MỤC CÁC LOÀI ĐỘNG VẬT CỦA SỞ THÚ
                    </div>
                    <div class="grid wide">
                        <div class="row category__wrap" >
                            <!-- <div class="col l-4 m-6 category__item">
                                <a href="" class="category__item-wrap">
                                    <div class="category__item-img" style="background-image: url(./assets/animal-assets/image/nai.jpeg);"></div>
                                    <div class="category__item-name">
                                        NAI
                                    </div>
                                </a>
                            </div> -->
                        </div>
                        <div class="category__more">
                            XEM THÊM
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

</body>
</html>