{% extends 'animals/header.html' %}
{% load static %}
{%block title%} Phân loài {%endblock%}
{% block content %}
<div class="content">
    <div class="grid">
        <div class="content__category">
            <div class="category__heading">
                DANH MỤC CÁC LOÀI ĐỘNG VẬT CỦA SỞ THÚ
            </div>
            <div class="grid wide">
                <div class="row category__wrap" >
                    {% for item in Animals %}
                    {%if item%}
                    <div class="col l-4 m-6 c-6 category__item">
                        <div href="" class="category__item-wrap">
                            <div class="category__item-img" style="background-image: url({{item.img.url}});"></div>
                            <div class="category__item-name">
                                {{item.animal_name}}
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
                <div class="category__more">
                    XEM THÊM
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block modal %}
<div class="modal">
    {% for item in Animals %}
    {%if item%}
    <div class="animal-main">
        <i class="fas fa-times close-modal-btn"></i>
        <div class="grid">
            <div class="row no-gutters">
                <div class="col l-7 c-12 m-6">
                    <div class="animal-main__img-wrap">
                        <div class="animal-main__img" style="background-image: url({{item.img.url}});"> </div>
                    </div>
                </div>
                <div class="col l-5 c-12 m-6">
                    <div class="animal-main__wrap-text">
                        <div class="animal-main__name">
                            {{item.animal_name}}
                        </div>
                        <div class="animal-main__desc">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}