:root
{
    --green-color: #357643;
    --white-color: #fff;
    --background-color:#fff;
    --black-color: #000;
    --header-height: 60px;
    --yellow-color:#FAA73F;
    --swiper-width: 250px;
}
.btn--green
{
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--green-color);
    border: solid 2px var(--green-color);
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    outline:none;
}
.btn--white
{
    display: inline-block;
    text-decoration: none;
    color: var(--green-color) ;
    background-color: var(--white-color);
    border: solid 2px var(--white-color);
    border-radius: 3px;
    padding: 10px 15px;
    outline:none;
}
.section-heading--green
{
    padding: 10px 20px;
    position: relative;
    color: var(--green-color);
    font-size:35px;
    display: inline-block;
    text-align: center;
    min-width: 250px;
    border-bottom: 3px solid var(--green-color);
}
.section-heading--yellow
{
    padding: 10px 20px;
    position: relative;
    color: var(--yellow-color);
    font-size:35px;
    display: inline-block;
    text-align: center;
    min-width: 250px;
    border-bottom: 3px solid var(--yellow-color);
}
.section-desc
{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 30px;
}