*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-family: 'Noto-Sans', sans-serif;
}

/* CONTENT */
.content 
{
    margin-top: 60px;
}
.animal-main
{
    padding: 0 80px;
    position: relative;
}
.animal-main__img 
{
    padding-top: 51%;
    background: url('/static/image/image-animal/voi.jpeg') center center / cover no-repeat;
    margin-top: 46px;
    color: white;
    position: relative;
    filter: brightness(70%);
}
.animal-main__name
{
    position: absolute;
    text-shadow: 0px 0px 1px var(--black-color);
    bottom:0px; 
    left:80px;
    padding: 10px 50px;
    font-size: 40px;
    color: var(--white-color);
    background-color: var(--black-color);
}
.animal-main__desc
{
    position: absolute;
    text-shadow: 0px 0px 1px var(--black-color);
    bottom:20px; 
    right:110px;
    font-size: 20px;
    text-align: justify;
    line-height:1.5;
    width: 600px;
    color: var(--white-color)
}
/* .animal-main__content
{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 20px auto 0;
}
.animal-main__content-info
{
    font-size: 20px;
    min-width: 300px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.animal-main__content-desc
{
    font-size: 20px;
    text-align: justify;
    line-height:1.5;
} */
/* category */
.content__category
{
    margin-top: 100px;
    text-align: center;
}
.category__wrap{
    overflow: hidden;
    transition: all 0.5s ease;
}
.category__heading
{
    text-align: center;
    color: var(--green-color);
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    min-width:500px;
    border-bottom: 5px solid var(--green-color);
    margin-bottom: 50px;
}
.category__item
{
    margin-top: 20px;
}
.category__item-wrap
{
    overflow: hidden;
    position: relative;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.category__item-img
{
    padding-top: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: all 0.8s ease;
}
.category__item-name
{
    position:absolute;
    top: 0;
    left:0;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 10px 40px;
    font-size: 25px;
    transition: all 0.4s ease;
    transform: translateX(calc(-100% - 12px ));
}
.category__item:hover .category__item-name
{
    transform: translateX(0);
}
.category__item:hover .category__item-img
{
    transform: scale(1.05);
}
.category__more
{
    background-color: var(--green-color);
    border-radius: 30px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);
    cursor: pointer;
    max-width:300px;
    margin: 50px auto;
}
/* Footer */
.footer
{
    text-align: center;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 10px 0; 
    margin-top: 100px;  
}