@media (max-width:739px)
{
    .content__category
    {
        padding:0 8px;
        margin-top: 70px;
    }
    .category__more
    {
        margin-top: 30px;
    }
    .category__heading
    {
        min-width: unset;
        font-size:25px;
        margin-bottom: 10px;
        border-width: 2px ;
    }
    .category__item-name
    {
        transform: translateX(0);
        padding: 5px 10px;
        font-size:15px
    }
    .animal-main__name
    {
        font-size:20px;
        margin-top:20px;
    }
    
}
@media (min-width: 740px) and (max-width:1025px)
{
    .category__heading
    {
        font-size:30px;
        margin-bottom: 30px
    }
    .animal-main__img
    {
        padding-top: 80%;
    }
}
/* TABLET & MOBILE */
@media (max-width:1025px)
{
    .close-modal-btn
    {
        right:0px;
        padding: 10px;
        color: var(--white-color);
        background-color:var(--black-color);
    }
    .animal-main
    {
        overflow: unset;

    }
    .animal-main__desc
    {
        overflow: unset;
        max-height: unset;
        padding:0 0 50px;
    }
    .modal
    {
        overflow-y: auto;
    }
}