* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  color: var(--yellow-color);
}

a {
  text-decoration: none;
  color: inherit;
}
.post-information {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #4d4d4f;
  margin-top: 20px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 934px) {
  .content {
    width: 100%;
  }

  .auth-content {
    width: 50%;
  }

  .content .main-content .post {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  header {
    position: relative;
  }

  .auth-content {
    width: 60%;
  }

  .main-content-wrapper {
    padding: 10px;
  }

  header .logo {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .content .main-content .post {
    height: auto;
  }

  .auth-content {
    width: 90%;
  }


/*POST CATEGORY*/
.content__category {
  margin-top: 50px;
  text-align: center;
}
.category__wrap {
  transition: all 0.5s ease;
}
.category__heading {
  text-align: center;
  color: var(--green-color);
  margin: 40px;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  min-width: 500px;
  border-bottom: 5px solid var(--green-color);
  margin-bottom: 50px;
}

.category__post {
  text-decoration: none;
  display: block;
  padding: 25px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  cursor: pointer;
}
.post-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.post-image {
  padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.8s ease;
}
.post-content {
  text-align: left;
}
.post-content .post-title {
  margin: 10px, 0px, 10px, 0px;
  color: var(--yellow-color);
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.post-content .post-excerpt {
  width: 100%;
  height: auto;
  margin: 20px, 0px, 20px, 0px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.category__post:hover .post-image {
  transform: scale(1.05);
}

.category__post:hover .post-title {
  color: var(--green-color);
}


/*MAIN POST*/
.content {
  display: block;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.content .post-main {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content .post-main .post-main-content {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 15px;
  text-align: justify;
}
.post-main-title {
  text-align: center;
  color: var(--green-color);
  margin: 40px;
  font-size: 30px;
  font-weight: 500;
  min-width: 100px;
}
.post-main-info {
  text-align: center;
}
.post-main-image {
  padding-top: 50%;
  margin: 10%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

/*COMMENT*/
.container {
  width: 80%;
  display: inline-block;
}
.container .comment-title {
  text-align: left;
  color: var(--green-color);
  margin: 5px;
  display: block;
  font-size: 20px;
  font-weight: 500;
  min-width: 100px;
}

.container .input {
  width: 100%;
  padding: 2%;
  resize: none;
  min-height: 30px;
  background: #f1f8e9;
  font-size: 15px;
  color: #000;
  border: none;

  border-radius: 5px;
  float: left;
}
.container:hover .input {
  border: 0.5px solid var(--yellow-color);
}
.container .input:focus {
  background: #fff;
}
.container button {
  height: 28px;
  width: 80px;
  color: var(--green-color);
  margin: 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--green-color);
  float: right;
  display: block;
}
button:hover {
  color: white;
  background: var(--green-color);
}

.box {
  flex-wrap: wrap;
  width: 100%;
  float: left;
  border-radius: 15px;
  border: solid var(--yellow-);
  margin-top: 30px;
  background: #f1f8e9;
}

.box .comment-detail {
  display: flex;
  max-width: 400px;
  padding: 2px;
  border-radius: 50px;
  background: var(--yellow-color);
}
.box .comment-detail .user-image {
  max-width: 35px;
  border-radius: 50%;
}
.box .comment-detail .user-name {
  margin: auto 10px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}
.box .user-comment {
  width: 95%;
  height: auto;
  margin: 10px;
  font-size: 15px;
  float: left;
  border-radius: 15px;
  text-align: left;
}

