{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="{% static './css/css-homepage/grid.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-homepage/base.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-homepage/main.css' %}" />

    <link rel="stylesheet" href="{% static './css/css-ticket/base.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-ticket/grid.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-ticket/main.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-homepage/responsive.css' %}" />
    <link rel="stylesheet" href="{% static './css/css-ticket/responsive.css' %}" />
    <link rel="stylesheet" href="{% static './font-icon/fontawesome-free-5.15.3-web/css/all.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static './js/homepage-js/package.json' %}" />
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
    <div id="main">
        <!-- Header -->
        {%block header%}{%endblock%}

        {%block content%} {%endblock%}
        <!-- Footer -->
        {%block footer%} {%endblock%}
    </div>
    {%block modal%} {%endblock%}
    <script src="{% static './js/ticket-js/main.js' %}"></script>
</body>

</html>