{% extends 'ticket/base.html' %}
{%load static%}
{%block title%} BÁN VÉ {%endblock%}
{% block content %}
<div class="main">
    <!-- SLIDER -->
    <div class="slider">
        <div class="slider-img"></div>
        <div class="slider-text">
            ĐẶT VÉ TỚI 
            <br>ZOOZALABIM
        </div>
    </div>
    <!-- CONTENT -->
    <div class="content">
        <div class="grid wide">
            <div class="row">
                <div class="col c-o-1 l-5">
                    <div class="ticket__form">
                        <div class="ticket__form-heading">
                            ĐIỀN THÔNG TIN VÉ
                        </div>
                        <div class="ticket__form-date">
                            <div class="ticket__form-date-heading">
                                Chọn ngày bạn sẽ tới tham quan Zoozalabim
                            </div>
                            <input type="date" required class="ticket__form-date-input">
                        </div>
                        <div class="ticket__form-quantity-heading">Số lượng vé</div>
                        <table class="ticket__form-quantity">
                            <tr>
                                <th></th>
                                <th class="ticket__form-quantity-label">Giá vé</th>
                                <th class="ticket__form-quantity-label">Số lượng</th>
                            </tr>
                            <tr>
                                <td class="ticket__form-quantity-type">Người lớn</td>
                                <td class="ticket__form-quantity-type-price">10$</td>
                                <td ><input min="0" class="ticket__form-quantity-input-adult" style="width: 70px" type="number"></td>
                            </tr>
                            <tr>
                                <td class="ticket__form-quantity-type">Trẻ em</td>
                                <td class="ticket__form-quantity-type-price">5$</td>
                                <td ><input min="0" class="ticket__form-quantity-input-kid" style="width: 70px" type="number"></td>
                            </tr>
                        </table>
                        <!-- <div class="ticket__form-info-customer">
                            <div class="ticket__form-info-customer-heading">
                                Thông tin khách hàng
                            </div>
                            <input required placeholder="Họ và tên" type="text" class="ticket__form-info-customer-input">
                            <input required type="number"  placeholder="Số điện thoại" class="ticket__form-info-customer-input"> 
                        </div> -->
                        <a href="" class="ticket__form-buy-btn">
                            <p>THANH TOÁN VỚI</p>
                            <img src="{%static './image/image-ticket/paypal-logo.png' %}" alt="" class="ticket__form-buy-btn-logo-paypal">
                        </a>
                    </div>
                </div>
                <div class="col ml-0-5 l-4">
                    <div class="ticket-total">
                        <div class="ticket-total__part-date">
                            <div class="ticket-total__part-date-desc">
                                Thứ --, --/--/----
                            </div>
                            <img src="{%static './image/image-ticket/ticketimg.png' %}" class="ticket-total__img">
                        </div>
                        <div class="ticket-total__info">
                            <p>Vé tham quan</p>
                            <span class="ticket-total-number ticket-total-number-kid">-- trẻ em</span>
                            <span class="ticket-total-number ticket-total-number-adult">-- người lớn</span>
                            <div class="total__price">
                                Tổng tiền: -- $
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}